lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

public/components
public/less/*.css

.DS_Store
.idea

#diptych specific
config/data
dropbox_app_key
dropbox_app_secrets