extends ../layout
block content
    div.content
    div.row
        h1.cn Diptych
        a(href="/") Main
        div
            - each img in scope
                h2.title #{img.name}
                img(src='../img/starter/#{img.name}', width='640')
                p Wins #{img.wins}
                p Loses #{img.loses}
        div