extends ../layout
block content
    div.content
    div.row
        h1.cn Diptych
        div.col-lg-12
            - each image in scope
                img(src='../images/starter/#{pic.name}', width='100%')
        div.col-lg-12