extends ../layout

block content
    div.content(ng-controller='RootController')
    div.row
        h1.cn Diptych
        a.btn.btn-default.nav-btn(href="/gallery") Gallery
        div.zone.love.col-sm-4
            span.glyphicon.icons-pair(title='Pair Images', ng-click="pair(images)")
        div.zone.love.col-sm-4
            span.glyphicon.icons-share(title='Share Images', ng-click="share(images)")
        div.zone.love.col-sm-4
            span.glyphicon.icons-toss(title='Toss Images', ng-click="toss(images)")
        section( image-pair )