extends ../layout

block content
    div.content(ng-controller='RootController')
    div.row
        h1.cn Diptych
        div.col-lg-12
            div.zone.hate
                span.glyphicon.icons-dance3(title='Skip These')
        section( image-pair )
        div.col-lg-12
            div.zone.love
                span.glyphicon.icons-dance1(title='Save Both')